.content-wrapper {
  background-color: #F6F6F6;
  min-width: 320px;
}

.content-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}

.content-body {
  background-color: #ffffff;
  Margin: 0 auto;
  width: 100%;
  max-width: 570px;
}

/* Web-version */
.web-version {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #F6F6F6;
}

/* Logo */
.logo {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
}

/* Welcome */
.welcome {
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}

.welcome .title {
  padding-top: 8px;
  padding-bottom: 8px;
}

.welcome .subtitle {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Two-columns */
.two-column {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: top;
  font-size: 0px;
}

.two-column .column-left {
  display: inline-block;
  width: 100%;
  max-width: 218px;
  vertical-align: top;
  font-size: 14px;
}

.column-left__wrapper {
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 16px;
}

.column-left .inner {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  vertical-align: top;
  background-color: #FF4B33;
}

.column-left .month {
  padding-bottom: 2px;
}

.column-left .data {
  padding-bottom: 2px;
}

.column-left .time {
  padding-bottom: 8px;
}

.column-left .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.two-column .column-right {
  display: inline-block;
  width: 100%;
  max-width: 352px;
  font-size: 14px;
}

.column-left__wrapper {
  padding-bottom: 16px;
}

/* Description */
.description {
  padding-top: 40px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
  background-color: #0B379B;
}

.description .text {
  padding-bottom: 32px;
}

.description .title {
  padding-bottom: 16px;
}

.description .list-item {
  padding-bottom: 8px;
}

.description .icon {
  width: 12px;
  padding-top: 5px;
  padding-right: 12px;
  vertical-align: top;
  text-align: center;
}

.description .list-item .question {
  vertical-align: top;
}

/* Webinar */
.webinar {
  padding-top: 40px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.webinar .lead {
  padding-bottom: 24px;
}

.webinar .avatar {
  padding-bottom: 12px;
}

.webinar .name {
  padding-bottom: 2px;
}

.webinar .speciality {
  padding-bottom: 16px;
}

.webinar .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Prize */
.prize {
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 20px;
}

.prize .banner {
  padding-bottom: 16px;
}

.prize .title {
  padding-bottom: 16px;
}

.prize .button {
  padding-top: 16px;
  padding-bottom: 24px;
}

.prize .notice {
  padding-bottom: 8px;
}

/* Footer-menu */
.footer-menu {
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: left;
  vertical-align: top;
  font-size: 0px;
}

.footer-menu .footer-left {
  display: inline-block;
  width: 100%;
  max-width: 285px;
  vertical-align: top;
  font-size: 14px;
}

.footer-left .inner {
  padding-right: 16px;
  padding-left: 16px;
  vertical-align: top;
}

.footer-menu .header {
  padding-bottom: 10px;
}

.footer-menu .social {
  padding-top: 8px;
  padding-bottom: 16px;
}

.footer-right .header {
  padding-bottom: 18px;
}

.footer-menu .social-icon {
  width: 24px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.footer-menu .social-icon:last-child {
  padding-right: 0px;
}

.footer-menu .mail,
.footer-menu .tel,
.footer-menu .link {
  padding-bottom: 8px;
}


.footer-menu .footer-right {
  display: inline-block;
  width: 100%;
  max-width: 285px;
  vertical-align: top;
  font-size: 14px;
}

.footer-right .inner {
  padding-right: 16px;
  padding-left: 16px;
  vertical-align: top;
}

/* Subscription */
.subscription {
  padding-top: 56px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  background-color: #F6F6F6;
}

.subscription .rules {
  padding-bottom: 16px;
}

/* Fonts */

td.h-1,
a.h-1 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-size: 96px;
  line-height: 111px;
    font-style: normal;
  font-weight: bold;
}

td.h-2,
a.h-2 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-size: 36px;
  line-height: 42px;
    font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

td.h-3,
a.h-3 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

td.h-4,
a.h-4 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

td.p-1,
a.p-1 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

td.p-2,
a.p-2 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

td.p-3,
a.p-3 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

td.p-4,
a.p-4 {
  font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

span.h-1,
a.h-1,
span.h-2,
a.h-2,
span.h-3,
a.h-3,
span.h-4,
a.h-4,
span.h-5,
a.h-5,
span.h-6,
a.h-6,
span.p-1,
a.p-1,
span.p-2,
a.p-2,
span.p-3,
a.p-3,
span.p-4,
a.p-4{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  mso-line-height-rule: exactly;
}

.t-a-c {
  text-align: center;
}

.f-w-b {
  font-weight: bold;
}

.t-t-u {
  text-transform: uppercase;
}

.t-d-u {
  text-decoration: underline;
}

.t-d-n {
  text-decoration: none;
}

/* Fonts-color */
td.f-c-black,
a.f-c-black {
  color: #000000;
}

td.f-c-white,
a.f-c-white {
  color: #ffffff;
}

td.f-c-gray,
a.f-c-gray {
  color: #828282;
}

td.f-c-cod-gray,
a.f-c-cod-gray {
  color: #141414;
}

td.f-c-cod-mine-shaft,
a.f-c-cod-mine-shaft {
  color: #333333;
}

td.f-c-red-orange {
  color: #FF4B33;
}

td.f-c-lightning-yellow,
a.f-c-lightning-yellow {
  color: #FFC81A;
}

td.f-c-torea-bay,
a.f-c-torea-bay {
  color: #0B379B;
}

td.f-c-java,
a.f-c-java {
  color: #13D6C3;
}

td.f-c-egg-blue,
a.f-c-egg-blue {
  color: #02BAD3;
}

/* Buttons */
.big-button {
  display: inline-block;
  width: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.big-button a {
  display: inline-block;
  mso-style-priority: 100 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.b-c-red-orange {
  background-color: #FF4B33;
}

.br-red-orange {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FF4B33;
  border-right-width: 16px;
  border-right-style: solid;
  border-right-color: #FF4B33;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #FF4B33;
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #FF4B33;
}

.b-c-lightning-yellow {
  background-color: #FFC81A;
}

.br-lightning-yellow {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #FFC81A;
  border-right-width: 16px;
  border-right-style: solid;
  border-right-color: #FFC81A;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #FFC81A;
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #FFC81A;
}

.b-c-torea-bay {
  background-color: #0B379B;
}

.br-torea-bay {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #0B379B;
  border-right-width: 16px;
  border-right-style: solid;
  border-right-color: #0B379B;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #0B379B;
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #0B379B;
}

/* Media */
@media only screen and (min-width:600px) {
  .right-banner {
    width: 352px !important;
    height: 294px !important;
  }
}

@media only screen and (max-width:600px) {
  .welcome .h-2 {
    font-size: 28px !important;
    line-height: 33px !important
  }

  .prize .h-3 {
    font-size: 24px !important;
    line-height: 28px !important
  }

  .welcome .h-4 {
    font-size: 16px !important;
    line-height: 19px !important
  }

  .two-column .column {
    max-width: 100% !important
  }

  .big-button {
    max-width: 206px !important;
    padding: 0 !important
  }

  .pt-0 {
    padding-top: 0 !important
  }

  .pb-0 {
    padding-bottom: 0 !important
  }

  .pt-24 {
    padding-top: 24px !important
  }

  .pb-24 {
    padding-bottom: 24px !important
  }

  .pt-16 {
    padding-top: 16px !important
  }

  .pb-8 {
    padding-bottom: 8px !important
  }

  img {
    max-width: 100% !important;
    height: auto !important
  }
